[submodule "3rdparty/bb10-qt-components"]
	path = 3rdparty/bb10-qt-components
	url = https://github.com/leppa/bb10-qt-components.git
[submodule "3rdparty/QuickDownload"]
	path = 3rdparty/QuickDownload
	url = https://github.com/larpon/QuickDownload
